





// Type ------------------------------------
a {
    text-decoration: none;
    @include transition(color .15s ease-in-out);
    color: $text-color;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
        color: $highlight;
    }
}


h1,h2,h3,h4,h5,h6 {
    font-family: $sans;
    text-transform: uppercase;
    font-style:normal;
}

h2 {
    font-size: emCalc(64);
}


h3 {
    font-size: emCalc(54);
    font-weight: 800;
    letter-spacing: .16em;
    margin: 32px 0 32px;
}

h4 {
    font-size: emCalc(30);
    font-weight: 800;
    line-height: emCalc(20);
    letter-spacing: .14em;
    margin: 38px 0 16px;
}

p {
    font-size: emCalc(16);
    font-family: $serif;
    margin: 16px 0 24px;
    line-height: 1.32em;
}

p.sans {
    font-weight: 600;
    font-family: $sans;
}

p.emph {
    font-size: emCalc(20);
    margin: 12px 0;
}

p.small {
    font-size: emCalc(14);
    text-transform: uppercase;
}

// Horizontal Rule
hr {
  width: 32px;
  border-color: $text-color;
    margin: 0 auto;
}


// Article Special Cases
article, aside {
    // Article Lists

    a {
        font-family: $serif;
    }

    ul li {
        font-family: $serif;
        margin: 4px 0 ;
        line-height: 1.32em;
    }

}

// Media
@include breakpoint(tablet-V) {

    h2 {
        font-size: emCalc(32);
    }

    h3 {
        font-size: emCalc(30);
    }

    h4 {
        font-size: emCalc(18);
    }

    p {
        font-size: emCalc(16);
    }

    p.emph {
        font-size: emCalc(18);
    }

    article, aside ul li {
        font-size: emCalc(14);
    }

}


// Selection Settings
body ::selection {
color: #FFF;
background-color: $text-color;
}




html {
    background: url("../images/content/lightpaperfibers.png") repeat !important;
}

html.ramen {
    background: none !important;
}