





// Sticky Footer ----------------------
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#site-content {
  min-height: 100%;
  margin-bottom: -100px;
}
#site-content:after {
  content: "";
  display: block;
}
#site-footer, #site-content:after {
  height: 100px;
}


body.home #site-content {
      min-height: 84%;
  }
@include breakpoint(phones) {
    body.home #site-content {
        min-height: 10%;
    }
}


body.ramen {
  #site-content {
    margin-bottom:0;
  }
}