





// Site Header -------------------
section#site-content {
    @include clearfix();

    .site-content-inner {
        @include row;
    }


    article.content-copy-wrap {
        @include span-columns(7, 12);

        .content-copy {
            padding: 44px 60px;
            margin-bottom: 82px;
        }
    }

    article.content-menu-wrap {
        width: 54%;
        margin: 0 auto;

        .content-menu {
            padding: 44px 60px;
            margin-bottom: 82px;
            text-align: center;
        }

        h3 {
            margin:54px auto 48px;
            font-weight: 500;
        }

        h4 {
            font-family: $serif;
        }
    }

    aside {
        &.aside-background, &.aside-content-wrap{
            @include span-columns(5 omega, 12);
        }

        .aside-content {
            padding: 44px 60px 0px;
            position: relative;
            margin-bottom: 82px;
        }

        #map {
            position: relative;
            height: 400px;
        }

    }

    // Media
    @include breakpoint(tablet-V) {

        article.content-copy-wrap, aside.aside-background, aside.aside-content-wrap {
            @include span-columns(12, 12);
        }

        aside.aside-background img {
            display: none;
        }

        article.content-copy-wrap .content-copy, aside .aside-content {
            padding: 32px;
            margin:0;
        }

        article.content-menu-wrap {
            width: 100%;

            .content-menu {
                padding-top: 0;
            }
        }

    }
}

// Content Backgroud
.content-background {
    overflow: hidden;
    position: relative;
    max-height: 500px;
    min-height: 140px;
    z-index: 0;

    img {
        margin: 0px auto -82px;
        width: 100%;
    }
}

body.home .content-background {
    max-height: 700px;
}




// Content Headers
header.content-header {
    width: 100%;
    background: $primary;
    background: rgba(4, 66, 73, 0.35);
    padding: 20px 15px;
    @include clearfix;
    position: absolute;
    z-index: 1;
    bottom: 0;
    min-height: 124px;

    .content-header-inner {
        @include row;
    }


    h2 {
        margin: 16px 0 ;
        padding: 0;
        color: white;
        float: right;
        text-align: right;
        letter-spacing: .14em;
    }

    p {
        color: white;
        @include span-columns(7,12);
        margin-left:32px;
    }

    @include breakpoint(phones) {
        p {
            @include span-columns(12,12);
            float: none;
        }
    }

}

body.home {
    header.content-header {
        position: static;

    }
}

@include breakpoint(tablet-V) {
    header.content-header {
        top: 60px;
        padding: 10px 15px;

        h2 {
            @include span-columns(12 omega,12);
        }
    }
    .content-background {
        margin-top:0;

        img {
            margin-top:0;
        }
    }
}


// Nav Controls for Sections
.section-container {
    .title {
        top: -132px !important;
    }
    section.active {
        padding-top: 0 !important;

        a.title-control {
            border-bottom: 1px solid white;
        }
    }
}

a.title-control {
    color: white;
    font-family: $sans;
    margin: 24px 0 0 40px;
    text-align:center;
    line-height: 40px;
    font-size: emCalc(18);
    letter-spacing: .16em;

     &:hover a {
            border-bottom: 1px solid white;
    }

}

// Media
@include breakpoint(tablet-V) {
     a.title-control {
        position: relative;
        padding: 0;
        margin: 16px 0 0 32px;
        top: 100px;
        line-height: 30px;
        font-size: emCalc(14);
        color: $text-color;

        &.street-food {
            top: 100px;
            left: 100px;
        }
    }

    .section-container section.active a.title-control {
        border-bottom: 1px solid $text-color;
    }
}


// Backstretch
.backstretch {
    margin-top: 120px;
}