





// Site Footer -------------------
footer#site-footer {
    background: $primary url('../images/content/banner1.jpg') no-repeat;


    .site-footer-inner {
        @include row;
        height: 100%;
    }

    // Site Map
    .site-map {
        background: $primary url('../images/logos-icons/circle+@2x.png') no-repeat 130px -60px;
        background-size: 50%;
        height: 100%;
        padding: 16px;
        @include span-columns(4 omega, 12);
        list-style:none;

        li {
            margin: 2px 0;
        }

        a {
            color: white;
            text-align: right;
            font-size: emCalc(12);

            &:hover {
                color:$highlight;
            }
        }
    }


    // Media
    @include breakpoint(tablet-V) {
        .site-map {
            @include span-columns(6 omega, 12);
            background-size: 64%;
            width: 100%;
        }
    }
}

// Foot Notes
.foot-notes {

    // Location-Mobile
    .location {
        display: none;
        background: $primary;
        background: rgba(4, 66, 73, 0.5);
        width: 100%;
        float:none;
    }

    // Media
    @include breakpoint(tablet-V) {
        .location {
            display: inherit;
        }
    }
}



.social-list {
    float: left;
    margin: 40px 16px 0;


    a {
        color:$primary;
        font-size: emCalc(20);
        margin: 0 4px 0 0;
        font-weight: bold;
        text-align: center;
        display: inline-block;

        &:hover {
            color: $highlight;
        }
    }

    @include breakpoint(tablet-V) {
        text-align: center;
        margin: 0;
        padding: 30px 0 28px;
        float: none;
    }
}