!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 9] <html lang="en" class="no-js lt-ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%head
    / Meta
    %meta{:charset => "UTF-8"}
    %title Tanoshi · Ramen Bar
    %meta{:name=>"description", :content=>"If:Gather is…"}
    %meta{:name=>"author", :content=>"If:Gather"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}
    / Style
    %link{:rel => "stylesheet", :href => "../assets/css/site.css"}
    /[if lt IE 9 ]
        %link{:rel => "stylesheet", :href => "../assets/css/ie.css"}/
    / Scripts
    %script{:rel => "javascript", :src => "//use.typekit.net/hbf3urf.js"}
    %script
        try{Typekit.load();}catch(e){}
    %script{:rel => "javascript", :src => "../assets/js/modernizr.min.js"}


%body


    %section#site-header
        .site-header-inner
            .brand-wrap
                %a.brand{:href => "/"}
                    %img{:src => "../assets/images/logos-icons/brand+@2x.png", :alt => "Tanoshi"}/

                    %h1 Tanoshi



        %nav#site-nav
            %ul
                %li
                    %a.active{:href => "ramen.html"}
                        %span ramen
                %li
                    %a{:href => "menu.html"}
                        %span menu
                %li
                    %a{:href => "about.html"}
                        %span about
                %li
                    %a{:href => "location.html"}
                        %span location

            .location
                %p.sans
                    2427 Commerce Street
                    %br/
                    Dallas, Texas 75226
                    %br/
                    214.555.1234




    %section#site-content

        .content-background
            %img{:src => "../assets/images/content/banner-3.jpg", :alt => "Tanoshi"}/

            %header.content-header
                .content-header-inner
                    %p Dolore McSweeney's aesthetic, American Apparel dolor gentrify ea raw denim. Anim Austin pour-over church-key PBR McSweeney's. Post-ironic 3 wolf moon tousled, sriracha exercitation quis Marfa meggings Pitchfork master
                    %h2 ramen




    .foot-notes
        .location
            %p.sans
                2427 Commerce Street
                %br/
                Dallas, Texas 75226
                %br/
                214.555.1234


    %footer#site-footer
        .site-footer-inner
            %ul.site-map
                %li
                    %a{:href => "ramen"} ramen
                %li
                    %a{:href => "menu"} menu
                %li
                    %a{:href => "about"} about
                %li
                    %a{:href => "location"} location



    %script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:rel => "javascript", :src => "https://raw.github.com/srobbin/jquery-backstretch/master/jquery.backstretch.min.js"}
    %script
        $.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");


