!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 9] <html lang="en" class="no-js lt-ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%head
    / Meta
    %meta{:charset => "UTF-8"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}

    %title Tanoshi · Ramen Bar
    %meta{:name=>"description", :content=>"Tanoshi is a Ramen Bar located in Dallas, TX"}
    %meta{:name=>"keywords", :content=>"Ramen, Tanoshi, Dallas TX, Texas, Commerce St."}
    %meta{:name=>"author", :content=>"Tanoshi"}

    %meta{:property=>"og:title", :content=>"Tanoshi · Ramen Bar"}
    %meta{:property=>"og:site_name", :content=>"Tanoshi · Ramen Bar"}
    %meta{:property=>"og:type", :content=>"website"}
    %meta{:property=>"og:image", :content=>"http://telegraphcreative.co/tanoshi/assets/images/logos-icons/og-image_tanoshi.png"}

    %link{:rel => "icon", :type => "images/png", :href => "http://tanoshiiramen.com/assets/images/logos-icons/favicon.png"}/

    / Style
    %link{:rel => "stylesheet", :href => "http://tanoshiiramen.com/assets/css/site.css"}
    %link{:rel => "stylesheet", :href => "http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css"}
    %link{:rel => "stylesheet", :href => "http://tanoshiiramen.com/assets/fonts/ss-social/webfonts/ss-social.css"}

    /[if lt IE 8 ]
        %link{:rel => "stylesheet", :href => "http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css"}/

    /[if lt IE 9 ]
        %link{:rel => "stylesheet", :href => "http://tanoshiiramen.com/assets/css/ie.css"}/

    / Scripts
    %script{:rel => "javascript", :src => "http://tanoshiiramen.com/assets/js/modernizr.min.js"}
    %script{:rel => "javascript", :src => "//use.typekit.net/aas4sha.js"}
    %script
        try{Typekit.load();}catch(e){}
    %script{:rel => "javascript", :src => "http://tanoshiiramen.com/assets/js/modernizr.min.js"}


%body


    %section#site-header
        .site-header-inner
            .brand-wrap
                %a.brand{:href => "index.html"}
                    %img{:src => "http://tanoshiiramen.com/assets/images/logos-icons/brand+@2x.png", :alt => "Tanoshi"}/

                    %h1 Tanoshi


        %nav#site-nav
            %ul
                %li
                    %a{:href => "ramen.html"}
                        %span ramen
                %li
                    %a{:href => "menu.html"}
                        %span menu
                %li
                    %a{:href => "about.html"}
                        %span about
                %li
                    %a.active{:href => "location.html"}
                        %span location

            .location
                %p.sans
                    2427 Commerce Street
                    %br/
                    Dallas, Texas 75226
                    %br/
                    214.555.1234




    %section#site-content

        .content-background
            %img{:src => "http://tanoshiiramen.com/assets/images/content/banner-3.jpg", :alt => "Tanoshi"}/

            %header.content-header
                .content-header-inner
                    %h2 location

        .site-content-inner
            %article.content-copy-wrap
                .content-copy
                    %h3 Parking

                    %p
                        Street parking on Elm, Main, and Commerce is metered, but free before 6pm during the week.

                    %h3 Directions

                    %p
                        Directions from North Dallas/Plano/Frisco:

                    %ul
                        %li Head South on Central Expressway/US-75 S
                        %li Take exit 284C on the left towards Downtown/Good-Latimer
                        %li Turn left onto N. Good Latimer Expressway
                        %li Turn left onto Commerce St
                        %li Destination will be on the right

                    %br/

                    %p
                        Directions from Arlington/Ft. Worth:

                    %ul
                        %li Head East on I30 towards Dallas
                        %li Take exit 45A on the left towards Commerce  St/Downtown
                        %li Continue onto Commerce St
                        %li Destination will be on the right

                    %br/

                    %p
                        Directions from Rockwall/Mesquite:

                    %ul
                        %li Head West on I30 towards Dallas
                        %li Take exit 47C to merge onto 1st Ave
                        %li Continue onto Exposition Ave
                        %li Turn left on to Canton St
                        %li Turn right onto Henry St
                        %li Turn right onto Commerce St
                        %li Destination will be on the right

                    %br/

                    %p
                        Directions from South Dallas:

                    %ul
                        %li Head North on I-45 and continue onto US-75 N
                        %li Take exit 284B for Main St W
                        %li Merge onto Main St
                        %li Turn left onto S Pearl Expy
                        %li Take the 1st left onto Commerce St
                        %li Destination will be on the right

            %aside.aside-content-wrap
                .aside-content

                    #map

                    %h4
                        2427 Commerce St
                        %br/
                        Dallas, Texas 75226
                        %br/
                        214.651.6800
                        -# %br/
                        -# info@tanoshiiramen.com


                    %h4 Hours
                    %p.emph
                        Tuesday / 11am-10pm
                    %p.emph
                        Thursday / 11am-10pm
                    %p.emph
                        Friday / 11am-4am
                    %p.emph
                        Saturday / 11am-4am
                    %p.emph
                        Sunday / 11am-10pm
                    %p.emph
                        Closed Monday


    .foot-notes
        .location
            %p.sans
                2427 Commerce Street
                %br/
                Dallas, Texas 75226
                %br/
                214.555.1234


    %footer#site-footer
        .site-footer-inner
            .social-list
                %a.ss-icon{:href => "https://twitter.com/TanoshiiRamen", :target => "blank"} &#xF611;
                %a.ss-icon{:href => "https://www.facebook.com/TanoshiRamenBar", :target => "blank"} &#xF610;
                %a.ss-icon{:href => "http://instagram.com/tanoshiiramenbar/", :target => "blank"} &#xF641;
                %a.ss-icon{:href => "mailto:info@tanoshiiramen.com", :target => "blank"} &#x2709;

            %ul.site-map
                %li
                    %a{:href => "ramen"} ramen
                %li
                    %a{:href => "menu"} menu
                %li
                    %a{:href => "about"} about
                %li
                    %a{:href => "location"} location



    %script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:rel => "javascript", :src => "http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js"}
    %script{:rel => "javascript", :src => "http://tanoshiiramen.com/assets/js/site.js"}

