!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 9] <html lang="en" class="no-js lt-ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%head
    / Meta
    %meta{:charset => "UTF-8"}
    %title Tanoshi · Ramen Bar
    %meta{:name=>"description", :content=>"Tanoshi is a Ramen Bar located in Dallas, TX"}
    %meta{:name=>"author", :content=>"Tanoshi"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}
    %link{:rel => "icon", :type => "images/png", :href => "../assets/images/logos-icons/favicon.png"}/

    / Style
    %link{:rel => "stylesheet", :href => "../assets/css/site.css"}
    %link{:rel => "stylesheet", :href => "../assets/fonts/ss-social/webfonts/ss-social.css"}

    /[if lt IE 9 ]
        %link{:rel => "stylesheet", :href => "../assets/css/ie.css"}/

    / Scripts
    %script{:rel => "javascript", :src => "//use.typekit.net/hbf3urf.js"}
    %script
        try{Typekit.load();}catch(e){}
    %script{:rel => "javascript", :src => "../assets/js/modernizr.min.js"}


%body.ramen


    %section#site-header
        .site-header-inner
            .brand-wrap
                %a.brand{:href => "index.html"}
                    %img{:src => "../assets/images/logos-icons/brand+@2x.png", :alt => "Tanoshi"}/

                    %h1 Tanoshi


            %nav#site-nav
                %ul
                    %li
                        %a.active{:href => "ramen.html"}
                            %span ramen
                    %li
                        %a{:href => "menu.html"}
                            %span menu
                    %li
                        %a{:href => "about.html"}
                            %span about
                    %li
                        %a{:href => "location.html"}
                            %span location

                .location
                    %p.sans
                        2427 Commerce Street
                        %br/
                        Dallas, Texas 75226
                        %br/
                        214.555.1234




    %section#site-content
        .site-content-inner

            %section.what-is-ramen-wrap
                .what-is-ramen

                    %h3 What is Ramen?

                    .item.noodles
                        .item-info
                            %h4 Ramen Noodles
                            %p Daughter plays in Austin because pour-over, so many PBRs.

                        .item-img
                            %img.tooltip{:title => "Ramen Noodles", :src => "../assets/images/content/ingredients/noodles.png", :alt => "Ramen Noodles"}/

                    .item.shiitake
                        .item-info
                            %h4 Shiitake Mushrooms
                            %p Daughter plays in Austin because pour-over, so many PBRs.

                        .item-img
                            %img.tooltip{:title => "Shiitake Mushrooms", :src => "../assets/images/content/ingredients/shiitake.png", :alt => "Shiitake Mushrooms"}/

                    .item.pork
                        .item-info
                            %h4 Braised Pork
                            %p Daughter plays in Austin because pour-over, so many PBRs.

                        .item-img
                            %img.tooltip{:title => "Braised Pork", :src => "../assets/images/content/ingredients/pork.png", :alt => "Braised Pork"}/

                    .item.bamboo
                        .item-info
                            %h4 Bamboo Shoots
                            %p Daughter plays in Austin because pour-over, so many PBRs.

                        .item-img
                            %img.tooltip{:title => "Bamboo Shoots", :src => "../assets/images/content/ingredients/bamboo.png", :alt => "Bamboo Shoots"}/

                    .item.bokchoy
                        .item-info
                            %h4 Roasted Bok Choy
                            %p Daughter plays in Austin because pour-over, so many PBRs.

                        .item-img
                            %img.tooltip{:title => "Roasted Bok Choy", :src => "../assets/images/content/ingredients/bokchoy.png", :alt => "Roasted Bok Choy"}/

                    .item.corn
                        .item-info
                            %h4 Sweet Corn
                            %p Daughter plays in Austin because pour-over, so many PBRs.

                        .item-img
                            %img.tooltip{:title => "Sweet Corn", :src => "../assets/images/content/ingredients/corn.png", :alt => "Sweet Corn"}/

                    .item.seeds
                        .item-info
                            %h4 Sesame Seeds
                            %p Daughter plays in Austin because pour-over, so many PBRs.

                        .item-img
                            %img.tooltip{:title => "Sesame Seeds", :src => "../assets/images/content/ingredients/seeds.png", :alt => "Sesame Seeds"}/

                    .item.scallions
                        .item-info
                            %h4 Scallions
                            %p Daughter plays in Austin because pour-over, so many PBRs.

                        .item-img
                            %img.tooltip{:title => "Scallions", :src => "../assets/images/content/ingredients/scallions.png", :alt => "Scallions"}/



    .foot-notes
        .location
            %p.sans
                2427 Commerce Street
                %br/
                Dallas, Texas 75226
                %br/
                214.555.1234

    %footer#site-footer
        .site-footer-inner
            .social-list
                %a.ss-icon{:href => "https://twitter.com/TanoshiiRamen", :target => "blank"} &#xF611;
                %a.ss-icon{:href => "https://www.facebook.com/TanoshiRamenBar", :target => "blank"} &#xF610;
                %a.ss-icon{:href => "http://instagram.com/tanoshiiramenbar/", :target => "blank"} &#xF641;
                %a.ss-icon{:href => "mailto:info@tanoshiiramen.com", :target => "blank"} &#x2709;

            %ul.site-map
                %li
                    %a{:href => "ramen"} ramen
                %li
                    %a{:href => "menu"} menu
                %li
                    %a{:href => "about"} about
                %li
                    %a{:href => "location"} location



    %script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:rel => "javascript", :src => "../assets/js/jquery.tooltipster.min.js"}
    %script{:rel => "javascript", :src => "../assets/js/transit.js"}
    %script{:rel => "javascript", :src => "../assets/js/transit-ramen.js"}
