!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 9] <html lang="en" class="no-js lt-ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js ramen"> <!--<![endif]-->

%head
    / Meta
    %meta{:charset => "UTF-8"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1"}

    %title Tanoshii 路 Ramen Bar 路 What is Ramen?
    %meta{:name=>"description", :content=>"Tanoshii is a Ramen Bar located in Dallas, TX"}
    %meta{:name=>"keywords", :content=>"Ramen, Tanoshii, Dallas TX, Texas, Commerce St."}
    %meta{:name=>"author", :content=>"Tanoshii"}

    %meta{:property=>"og:title", :content=>"Tanoshii 路 Ramen Bar"}
    %meta{:property=>"og:site_name", :content=>"Tanoshii 路 Ramen Bar"}
    %meta{:property=>"og:type", :content=>"website"}
    %meta{:property=>"og:image", :content=>"http://tanoshiiramen.com/assets/images/logos-icons/og-image_tanoshi.png"}

    %link{:rel => "icon", :type => "images/png", :href => "http://tanoshiiramen.com/assets/images/logos-icons/favicon.png"}/

    / Style
    %link{:rel => "stylesheet", :href => "http://tanoshiiramen.com/assets/css/site.css"}
    %link{:rel => "stylesheet", :href => "http://tanoshiiramen.com//assets/css/animation.css"}
    %link{:rel => "stylesheet", :href => "http://tanoshiiramen.com/assets/fonts/ss-social/webfonts/ss-social.css"}

    /[if lt IE 9 ]
        %link{:rel => "stylesheet", :href => "http://tanoshiiramen.com/assets/css/ie.css"}/

    / Scripts
    %script{:rel => "javascript", :src => "http://tanoshiiramen.com/assets/js/modernizr.min.js"}
    %script{:rel => "javascript", :src => "//use.typekit.net/aas4sha.js"}
    %script
        try{Typekit.load();}catch(e){}
    %script{:rel => "javascript", :src => "http://tanoshiiramen.com/assets/js/modernizr.min.js"}


%body.ramen


    %section#site-header
        .site-header-inner
            .brand-wrap
                %a.brand{:href => "/"}
                    %img{:src => "http://tanoshiiramen.com/assets/images/logos-icons/brand+@2x.png", :alt => "Tanoshi"}/

                    %h1 Tanoshii


            %nav#site-nav
                %ul
                    %li
                        %a.active{:href => "/ramen"}
                            %span ramen
                    %li
                        %a{:href => "/menu"}
                            %span menu
                    %li
                        %a{:href => "/about"}
                            %span about
                    %li
                        %a{:href => "/location"}
                            %span location

                .location
                    %p#editable-address.sans.editable
                        2427 Commerce Street
                        %br/
                        Dallas, Texas 75226
                        %br/
                        214.555.1234




    %section#site-content
        .site-content-inner

            %section.what-is-ramen-wrap
                .what-is-ramen

                    .definition
                        %h3.ramen-title What is Ramen?


                        %a.small.prompt
                            Hover to Explore the anatomy of Ramen


                    .item.noodles
                        .item-info
                            %h4 Ramen Noodles
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Ramen Noodles", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/noodles.jpg", :alt => "Ramen Noodles"}/

                    .item.shiitake
                        .item-info
                            %h4 Shiitake Mushrooms
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Shiitake Mushrooms", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/shiitake.jpg", :alt => "Shiitake Mushrooms"}/

                    .item.pork
                        .item-info
                            %h4 Braised Pork
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Braised Pork", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/pork.jpg", :alt => "Braised Pork"}/

                    .item.bamboo
                        .item-info
                            %h4 Bamboo Shoots
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Bamboo Shoots", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/bamboo.jpg", :alt => "Bamboo Shoots"}/

                    .item.bokchoy
                        .item-info
                            %h4 Roasted Bok Choy
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Roasted Bok Choy", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/bokchoy.jpg", :alt => "Roasted Bok Choy"}/

                    .item.corn
                        .item-info
                            %h4 Sweet Corn
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Sweet Corn", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/corn.jpg", :alt => "Sweet Corn"}/

                    .item.seeds
                        .item-info
                            %h4 Sesame Seeds
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Roasted Sesame Seeds", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/sesame.jpg", :alt => "Sesame Seeds"}/

                    .item.scallions
                        .item-info
                            %h4 Scallions
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Scallions", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/scallions.jpg", :alt => "Scallions"}/


                    .item.egg
                        .item-info
                            %h4 Egg
                        .item-img-wrap
                            .item-img
                                %img.tooltip{:title => "Nitamago (Soft Boiled Egg)", :src => "http://tanoshiiramen.com/assets/images/content/ingredients/egg.jpg", :alt => "Scallions"}/



    .foot-notes
        .location
            %p.sans
                2427 Commerce Street
                %br/
                Dallas, Texas 75226
                %br/
                214.555.1234

    %footer#site-footer
        .site-footer-inner
            .social-list
                %a.ss-icon{:href => "https://twitter.com/TanoshiiRamen", :target => "blank"} &#xF611;
                %a.ss-icon{:href => "https://www.facebook.com/TanoshiRamenBar", :target => "blank"} &#xF610;
                %a.ss-icon{:href => "http://instagram.com/tanoshiiramenbar/", :target => "blank"} &#xF641;
                %a.ss-icon{:href => "mailto:info@tanoshiiraexplmen.com", :target => "blank"} &#x2709;

            %ul.site-map
                %li
                    %a{:href => "/ramen"} ramen
                %li
                    %a{:href => "/menu"} menu
                %li
                    %a{:href => "/about"} about
                %li
                    %a{:href => "/location"} location



    %script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:rel => "javascript", :src => "http://tanoshiiramen.com/assets/js/jquery.tooltipster.min.js"}
    %script{:rel => "javascript", :src => "http://tanoshiiramen.com//assets/js/transit-ramen-ck.js"}
